.dropdown_button{
  position: absolute;
  right: 0px;
}
.table_bg{
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent !important;
  box-shadow: none !important;
}
.display-block{
  display:block;
}
